/*
 Theme Name:   Twenty Sixteen Child
 Theme URI:    http://example.com/twenty-sixteen-child/
 Description:  Twenty Sixteen Child Theme
 Author:       Louis Blasselle
 Template:     twentysixteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-sixteen-child
*/

.site{
	background-color: transparent;
}

.site-content{
	padding:0;
}

#post-2{
	background-image: url(http://localhost/myWebsite/wp-content/uploads/2018/06/fond-gris.jpg);
	background-size: auto;
}

.site-inner{
	max-width: 4000px;
}

#post-46 .entry-content{
	margin: 0;
	vertical-align: bottom;
	text-align: center;
	background: rgba(255, 255, 255, .5);
	width: 100%;
	padding-bottom: 25px;
}

#post-46{
	position: relative;
}

#colophon{
	background-color: white;
}


body.custom-background {
	background-position: top!important;
	background-size: cover!important;
}

footer nav{
	display : none;
}

/* Ne pas afficher le titre des pages */
.page h1.entry-title {
	display: none;
}

@font-face {
	font-family: Metromedium2Com;
	src: url("fonts/Metromedium2Com.ttf");
	font-weight: normal;
}

body{
	font-family: Metromedium2Com!important;
}

#page{
	margin: 0!important;
}

#masthead{
	background-color: #1E2E4A;
	margin: 0!important;
}

/*
	Le bouton "Recevoir mes résultats de la page faire-le-test-rgpd-page-3/
	n'est pas visible de base, car la checkbox des conditions d'utilisation n'est pas cochée.
	Je donne donc une couleur à ce bouton pour qu'il soit visible
 */
#submit-button:disabled{
	background : black!important;
}

.site-header{
	padding-top: 1em;
	padding-bottom: 2em;
}

@media screen and (min-width: 56.875em) {
	.email-input {
		right: 0px;
	}

	#menu-item-82{
		border-radius: 10px;
		background-color: #3B9ED3;
		box-shadow: 3px -3px 6px 0px black;
	}
}

.menu-item a{
	color: white;
}

.button-test{
	border-radius: 10px!important;
	color: black!important;
	background-color: #3B9ED3!important;
	box-shadow: 3px -3px 6px 0px black;
}

.wpcf7-form{
	display:table-cell;
}

.wpcf7-submit, .wpcf7-previous{
	border-radius: 10px!important;
}


/* Personnalisation des radio button*/
/* The container */
span.wpcf7-radio span.wpcf7-list-item {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.wpcf7-list-item input[type="radio"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #d6d6d6;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.wpcf7-list-item:hover input ~ .checkmark {
	background-color: #b4b4b4;
}

/* When the radio button is checked, add a blue background */
.wpcf7-list-item input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.wpcf7-list-item input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.wpcf7-list-item .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}